/* Write some CSS below */
div{
background-color: #EBE3CC;
text-align: center;
}
img {
width: 250px;
height: 250px;
}

.container {
  width: 100%;
  overflow: hidden;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}


img{
	width: 200px;
}


.banner{
	padding: 150px;
	margin: 0;
	background-image: url();
	color: white;
	text-align: center;
}

.banner p {
	opacity: 0.8;

}

.btn-blue {
	background-color: #96813A;
	color: white;
	padding: 10px; 20px;
	border-radius: 15px;
	margin: 9px;
	width: 200px;

}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  padding: 10px; 20px;
}

.card-white h3 {
  margin-bottom: 0;
  grid-template-columns: 1fr 1fr 
  grid-gap: 16px;
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;

}

.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
}

body{
	text-align: center;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
	padding: 40px
}

card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
	  width: 100%;
  overflow: hidden;
}


